
.line_break {
    height:65px;
}


.first {
    margin-bottom: 50px;
    margin-left: 30px;
    background-color: #111;
    color: #818181;
}

.second {
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #111;
    color: #818181;

}


@media only screen and (max-width: 991px) {
    .first {
    margin-right: 50px;
    }

}