
.title{
    text-align:center;
    font-size:3rem;

}

.work_exp{
    font-size:2rem;
    padding-left:2rem;

}

.positions{
    font-size:1em;
    font-weight:bold;

}

.date{
    font-size:0.6em;
    padding:0;
    margin:0;
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
    }

.description{
    font-size:0.75em;
    padding:0;
    margin:0;

    }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #111;
    margin: 1em 0;
    padding: 0;
}


@media only screen and (max-width: 500px) {
    .work_exp{
        font-size:1rem;
        padding-left:2rem;

    }

}