{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='CSS/projects.css')}}">
{% endblock %}


{% block main %}
<center><h1>Personal Projects</h1></center>
<center><a href="https://github.com/Relaxeddevil?tab=repositories" target="_blank"><img class ='github' src="{{url_for('static', filename='Images/projects_images/github_logo.png')}}"></a></center>


<div class='line_break'><br></div>

<div class="container-fluid">

    <div class="row">

        <div class="col-lg first">
            <center>

                <h2 class="title">Amazon Web-Scraper</h2>
                <p>Created a software which scrapes the prices of given products sold on Amazon.ca and creates a
                    data-frame, returns a boxplot analysis of the prices along with the raw data. I used the selenium
                    library in order to do the webscraping, the pandas library to organize the data into a structured
                    data-frame, and the matplotlib library to display a boxplot. All the code for this project can be
                    viewed on my <a href="https://github.com/Relaxeddevil/AmazonWebScraper">Github</a>
                </p>
                <a href="/amazon">This project can be tested here</a>

            </center>
        </div>

        <div class="col-lg second">
            <center>

                <h2 class="title">Google Maps API</h2>
                <p>Created a program which when given inputs of a keyword along with a location and radius, returns all
                    business matching the keyword in the given radius with their contact information. This project uses
                    the requests library in order to access the Google API and the xlsxwriter library in order to export
                    the data as a .csv file.</br> All the code for this project can be viewed on my
                    <a href="https://github.com/Relaxeddevil/GoogleMapsAPI">Github</a></p>
            </center>
        </div>

    </div>

    <div class="row">

        <div class="col-lg first">
            <center>

                <h2 class="title">This Website</h2>
                <p> This website uses the python flask framework in order to handle all of the back-end. The website
                is built using HTML, CSS and javascript. This project helped me to understand how to integrate a back-end system to front-end
                    <br> All the code for this website can be viewed on my
                    <a href="https://github.com/Relaxeddevil/RayyanWebsite">Github</a> </p>
            </center>
        </div>

        <div class="col-lg second">
            <center>

                <h2 class="title">Text Encryption / Decryption</h2>
                <p>Developed the back-end for a text encryption software. The back-end consists of reading a .txt file,
                    encrypting it by shuffling the characters using a randomized algorithm and provides a key that can
                    be used in order to decrypt the file later on. <br> All the code for this website can be viewed on my
                    <a href="https://github.com/Relaxeddevil/TextEncyption">Github</a> </p>
            </center>
        </div>

    </div>

    <div class="row">

        <div class="col-lg first">
            <center>

                <h2 class="title">Image Recognition</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            </center>
        </div>

        <div class="col-lg second">
            <center>

                <h2 class="title">Piano Tiles Automation</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            </center>
        </div>

    </div>
</div>

{% endblock %}