{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='CSS/work.css')}}">
{% endblock %}

{% block main %}
<h1 class="title">Work Experience</h1>

</br>
</br>
</br>

<div class="work_exp">

    <p class="positions">Private Equity Analyst at Appleby Succession Capital </p>
    <p class="date">May 2021 - August 2021</p>
    <p class="description">- Learned how to construct LBO models in order to determine competitive EV/EBITDA entry multiples</p>
    <p class="description">- Sourced hundreds of leads for potential acquisitions using self built web-scraping software </p>
    <p class="description">- Analyzed multiple confidential information memorandums and presented the findings directly to the co-founders</p>


</div>

{% endblock %}