{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='CSS/work.css')}}">
{% endblock %}

{% block main %}
<h1 class="title">Work Experience</h1>

<a class='resume' href="#">Resume Download</a>
<center><a href="https://www.linkedin.com/in/rayyanmajid/" target="_blank"><img class ='linkedin' src="{{url_for('static', filename='Images/work_images/linkedin_logo.png')}}"></a></center>

<div class='line_break'><br></div>

<div class="work_exp">

    <p class="positions">Private Equity Analyst at Appleby Succession Capital </p>
    <p class="date">May 2021 - August 2021 Toronto, ON </p>

    <p class="description">- Learned how to construct LBO models in order to determine competitive EV/EBITDA entry multiples</p>
    <p class="description">- Sourced hundreds of leads for potential acquisitions using self built python web-scraping software </p>
    <p class="description">- Analyzed multiple confidential information memorandums and presented the findings directly to the co-founders </p>
    <p class="description">- Developed a python script which utilizes the Google Maps API to return businesses matching a
        set of keywords, this helped to determine market share and competitors for potential acquisitions </p>

    <hr>

    <p class="positions">Tutor at Canadian School of Young Scholars </p>
    <p class="date">September 2016 - May 2018 Oakville, ON </p>

    <p class="description">- Tutored lego robotics, science and french </p>
    <p class="description">- Promoted and maintained a positive learning environment </p>
    <p class="description">- Developed in depth curriculums for students to follow, this streamlined the learning experience
        while allowing space to cater to each individual student's needs </p>

     <hr>

    <p class="positions">Sales Associate at Urban Planet </p>
    <p class="date">May 2018 - December 2018 Burlington, ON </p>

    <p class="description">-Assessed customer needs and provided information on products </p>
    <p class="description">-Ensured a high level of customer satisfaction through excellent sales service, developing my strong communication skills </p>

    <hr>

    <p class="positions">Lead Baker at Paramount Fine Foods </p>
    <p class="date">September 2017 - July 2018 Burlington, ON </p>

    <p class="description">- Collaborated with a team of bakers in order to efficiently produce baked goods, developed strong teamwork skills </p>
    <p class="description">- Worked under pressure as tight deadlines are common, developed excellent time and stress management skills </p>

    <hr>

</div>


{% endblock %}