# Default ignored files
/shelf/
/workspace.xml
/Website/static/amazon/after_search.png
/Website/static/amazon/before.png
/Website/static/amazon/boxplot.jpg
/Website/static/amazon/Amazon Web-Scraper.xlsx